@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@200;300;400;500;600;700;800&family=Manrope:wght@200;300;400;500;600;700;800&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&family=Tapestry&family=Water+Brush&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background: #000;
}

a {
  text-decoration: none;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

#header {
  background: #000;
}
#header .header-general {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
#header .header-general__nav {
  color: white;
  margin-left: 60px;
  margin-top: 20px;
}
#header .header-general__nav a {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 0 20px;
  transition: 0.4s;
}

#hero {
  background: black;
}
#hero .hero-general__box {
  display: flex;
  position: relative;
}
#hero .hero-general__box h1 {
  margin-top: 200px;
  font-family: "Red Rose", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 60px;
  color: #E5E5E5;
  margin-bottom: 30px;
}
#hero .hero-general__box p {
  font-family: "Red Rose", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #FFFFFF;
}
#hero .hero-general__box h2 {
  margin-left: 30px;
  margin-top: 165px;
  font-family: "Red Rose", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #D3CD2D;
}
#hero .hero-general__img {
  position: absolute;
  left: 400px;
  top: 70px;
}
#hero .hero-general__img1 {
  cursor: pointer;
  position: absolute;
  left: 100px;
  top: 734px;
}

.merslogo {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

#merslogo2 .merslogo2-general__title {
  display: flex;
  justify-content: space-between;
}
#merslogo2 .merslogo2-general__title h1 {
  font-family: "Red Rose", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 29px;
  line-height: 36px;
  color: rgb(117, 109, 109);
}
#merslogo2 .merslogo2-general__title h2 {
  margin-left: 20px;
  font-family: "Red Rose", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 29px;
  line-height: 36px;
  color: #FFFFFF;
}
#merslogo2 .merslogo2-general__title1 {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
}
#merslogo2 .merslogo2-general__title2 h1 {
  font-family: "Red Rose", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 60px;
  color: #FFFFFF;
  margin-left: 200px;
}
#merslogo2 .merslogo2-general__bot {
  display: flex;
}
#merslogo2 .merslogo2-general__box {
  margin-left: 40px;
}
#merslogo2 .merslogo2-general__box img {
  margin-bottom: 20px;
}
#merslogo2 .merslogo2-general__box2 img {
  margin-bottom: 10px;
}

#desin {
  margin-top: 140px;
}
#desin .desin-general {
  display: flex;
  justify-content: space-between;
}
#desin .desin-general div {
  margin-top: 25px;
  height: 0;
  border: 1px solid #F8F8F8;
  width: 350px;
}
#desin .desin-general h1 {
  font-family: "Rufina", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  color: #FFFFFF;
}

#Galery {
  margin-top: 140px;
}
#Galery .Galery-general {
  display: flex;
  justify-content: space-between;
}
#Galery .Galery-general div {
  margin-top: 25px;
  height: 0;
  border: 1px solid #F8F8F8;
  width: 350px;
}
#Galery .Galery-general h1 {
  font-family: "Rufina", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  color: #FFFFFF;
}

#design {
  background: #000;
}
#design .design-general__title {
  display: flex;
  justify-content: space-between;
  color: white;
}
#design .design-general__title h1 {
  margin-top: 10px;
}
#design .design-general__item {
  display: flex;
  justify-content: center;
  align-items: center;
}
#design .design-general__item h1 {
  font-family: "Red Rose", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 76px;
  line-height: 95px;
  color: #FFFFFF;
  text-shadow: 8px 8px 233px #F4ECEC;
}
#design .design-general__item h2 {
  margin-left: 50px;
  font-family: "Red Rose", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 52px;
  line-height: 65px;
  color: #FFFFFF;
}
#design .design-general__bot {
  display: flex;
}
#design .design-general__bot h1 {
  font-family: "Red Rose", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 44px;
  color: #FFFFFF;
  margin-bottom: 10px;
}
#design .design-general__bot h2 {
  font-family: "Red Rose", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #FFFFFF;
}
#design .design-general__box {
  display: flex;
  justify-content: space-around;
}
#design .design-general__box h1 {
  font-family: "Red Rose", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}
#design .design-general__box button {
  cursor: pointer;
  background: #1E1E1E;
  border: none;
  font-family: "Red Rose", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 35px;
  color: #FFFFFF;
}

#lili {
  margin-top: 130px;
  margin-bottom: 100px;
}
#lili .lili-general__lil {
  display: flex;
  justify-content: space-between;
}
#lili .lili-general__lil div {
  width: 300px;
  height: 0;
  border: 0.9px solid #F0EFEC;
}

#spec .spec-general__title {
  display: flex;
  justify-content: space-between;
  color: white;
}
#spec .spec-general__title h1 {
  margin-top: 10px;
}
#spec .spec-general__itel {
  margin-left: 150px;
  font-family: "Red Rose", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 95px;
  color: #FFFFFF;
}
#spec .spec-general__box {
  position: relative;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
#spec .spec-general__box h1 {
  font-family: "Red Rose", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #FFF7F7;
  margin-bottom: 30px;
}
#spec .spec-general__box h2 {
  font-family: "Red Rose", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #FFF7F7;
  margin-bottom: 30px;
  margin-left: 10px;
}
#spec .spec-general__img {
  width: 305px;
  height: 393px;
  margin-left: 0;
}
#spec .spec-general__img1 {
  margin-top: 50px;
  width: 205px;
  height: 273px;
}
#spec .spec-general__bot img {
  width: 555px;
  height: 400px;
  position: absolute;
  left: 500px;
}

#lil {
  margin-top: 130px;
  margin-bottom: 100px;
}
#lil .lil-general__lili {
  display: flex;
  justify-content: space-between;
}
#lil .lil-general__lili h1 {
  font-family: "Red Rose", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
  color: #FFFFFF;
}
#lil .lil-general__lili div {
  margin-top: 20px;
  width: 300px;
  height: 0;
  border: 0.7px solid #F0EFEC;
}

#feat .feat-general__title {
  display: flex;
  justify-content: space-between;
  color: white;
}
#feat .feat-general__title h1 {
  margin-top: 10px;
}
#feat .feat-general__bot {
  position: relative;
  display: flex;
}
#feat .feat-general__bot h1 {
  font-family: "Red Rose", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 76px;
  line-height: 95px;
  color: #FFFFFF;
}
#feat .feat-general__bot img {
  position: absolute;
  left: 360px;
  top: 100px;
}
#feat .feat-general__box {
  display: flex;
}
#feat .feat-general__box h1 {
  margin-top: 120px;
  font-family: "Red Rose", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 46px;
  line-height: 57px;
  color: #FFFFFF;
  margin-bottom: 50px;
}
#feat .feat-general__box h2 {
  font-family: "Red Rose", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #FFFFFF;
}
#feat .feat-general__box img {
  margin-left: 150px;
}

#contact {
  margin-top: 130px;
  margin-bottom: 100px;
}
#contact .contact-general__lili {
  display: flex;
  justify-content: space-between;
}
#contact .contact-general__lili h1 {
  font-family: "Red Rose", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
  color: #FFFFFF;
}
#contact .contact-general__lili div {
  width: 300px;
  height: 0;
  border: 0.9px solid #F0EFEC;
}

#read .read-general__title {
  display: flex;
  justify-content: space-between;
  color: white;
}
#read .read-general__title h1 {
  margin-top: 10px;
}
#read .read-general__bot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}
#read .read-general__box {
  background: #030303;
  width: 387px;
  height: 387px;
}
#read .read-general__box h1 {
  font-family: "Red Rose", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 31px;
  line-height: 39px;
  align-items: center;
  margin-left: 83px;
  margin-bottom: 40px;
  margin-top: 40px;
  color: #FFFFFF;
}
#read .read-general__box button {
  font-family: "Red Rose", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 34px;
  color: #FFFFFF;
  text-shadow: 0 4px 32px #F6F1F1;
  background: #030303;
  margin-top: 50px;
  margin-left: 50px;
  cursor: pointer;
}
#read .read-general__box__boxx {
  display: flex;
  flex-flow: column;
}
#read .read-general__box__boxx input {
  margin-left: 40px;
  margin-bottom: 50px;
  width: 300px;
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
}
#read .read-general__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#read .read-general__item h1 {
  font-family: "Red Rose", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 34px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 20px;
}
#read .read-general__item h2 {
  font-family: "Red Rose", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}

/*# sourceMappingURL=style.css.map */
